@media print {
    body{
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm; 
        /* change the margins as you want them to be. */
   } 
}

body {
	color: #fff;
	font-family: Georgia, serif;
}

.card {
	position: relative;
	background-image: url("../assets/bg-fire-112.jpg");
	background-size: contain;
	width: 828px;
	height: 579px;
	margin-bottom: 20px;
	border-radius: 10px;
	page-break-after: always;
}

.base {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 828px;
}

.faction {
	position: absolute;
	text-align: center;
	top: 45px;
	left: 0px;
	width: 90px;
}

.faction img {
	position: absolute;
	width: 60px;
	height: auto;
}

.unit-name {
	position: absolute;
	text-align: center;
	width: 350px;
	height: 120px;
	top: 15px;
	left: 450px;
	font-family: Georgia, serif;
	font-variant: small-caps;
	font-size: 40px;
	font-weight: 700;
	display: inline-block;
}

.cost {
	position: absolute;
	text-align: center;
	top: 52px;
	left: 330px;
	width: 90px;
	font-size: 40px;
	font-weight: bold;
	display: inline-block;
}

.runemarks {
	position: absolute;
	text-align: center;
	width: 350px;
	top: 135px;
	left: 450px;
	font-weight: bold;
}

.runemarks img {
	width: 50px;
	height: auto;
	padding: 0 .3em 0 .3em;
}

.stat {
	position: absolute;
	font-size: 40px;
	font-weight: bold;
	width: 80px;
	text-align: center;
}

.move {
	left: 80px;
	top: 160px;
}

.toughness {
	left: 200px;
	top: 160px;
}

.wounds {
	left: 165px;
	top: 215px;
}

.weapons {
	position: absolute;
	left: 350px;
	top: 195px;
	width: 450px;
	color: #000;
}

.weapons .weapon {
	width: 100%;
	height: 60px;
	margin: 0px 0px 10px 0px;
	background-size: cover;
	background-image: url("../assets/weapon-bg.png");
}

.weapon-name {
	position: relative;
	left: 15px;
	width: 200px;
	height: 60px;
	font-weight: bold;
	font-variant: small-caps;
	text-align: right;
	font-size: 22px;
}

.weapon-stats {
	position: relative;
	float: right;
	width: 220px;
	height: 60px;
	right: 10px;
	top: -57px;
}

.weapon-stat {
	display: inline-block;
	width: 50px;
	text-align: center;
}

.weapon-stat-value {
	position: relative;
	width: 50px;
	height: 27px;
	bottom: 2px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.weapons img {
	position: relative;
	width: 27px;
	height: auto;
	top: 2px;
}

.abilities-bg {
	position: relative;
	background-image: url("../assets/abilities-bg.png");
	background-size: cover;
	top: 349px;
	width: 828px;
	height: 230px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.abilities {
	color: #000;
	top: 15px;
	left: 15px;
	width: 798px;
	height: 200px;
}

.ability {
	position: relative;
	margin-top: 5px;
}

.ability-runemark {
	display: inline-flex;
	overflow: hidden;
	align-items: center;
	width: 15%;
}

.ability-runemark img {
}

.ability-text {
	position: absolute;
	display: block;
	width: 75%;
	margin-left: 10%;
}

.ability-title {
	font-weight: bold;
}

