@media print and (orientation:portrait) {
	@page {
	  size: A4 portait;
	  margin: 0.2cm;
	}

    body{
        column-count: 2;
  		column-gap: 0.2cm;
   } 
}

@media print and (orientation:landscape) {
	@page {
	  size: A4 landscape;
	  margin: 0.2cm;
	}

    body{
        column-count: 2;
  		column-gap: 0.2cm;
   } 
}


body {
	color: #fff;
	font-family: Georgia, serif;
}

.card {
	position: relative;
	display: inline-block;
	background-image: url("../assets/bg-fire-112.jpg");
	background-size: contain;
	width: 12cm;
	aspect-ratio: 1 / 0.7;
	margin-bottom: 1cm;
	margin-right: 1cm;
	border-radius: 5mm;
	break-inside: avoid;
	page-break-inside: avoid;
}

.base {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}

.faction {
	position: absolute;
	text-align: center;
	top: 6mm;
	left: 6mm;
	width: 12mm;
	height: 12mm
}

.faction img {
	position: absolute;
	top: 0;
	left: 0;
	width: 10mm;
	height: auto;
}

.unit-name {
	position: absolute;
	text-align: center;
	width: 5.2cm;
	height: 1.8cm;
	top: 2mm;
	left: 6.4cm;
	font-family: Georgia, serif;
	font-variant: small-caps;
	font-weight: 700;
	display: inline-block;
}

.cost {
	position: absolute;
	text-align: center;
	top: 6mm;
	left: 4.7cm;
	width: 1.5cm;
	height: 1.5cm;
	font-weight: bold;
	display: inline-block;
	font-size: 19pt;
}

.runemarks {
	position: absolute;
	text-align: center;
	width: 1.8cm;
	height: 2.2cm;
	top: 2.3cm;
	left: 4.5cm;
	font-weight: bold;
}

.runemarks img {
	width: .8cm;
	height: auto;
	padding: 0 0 0 .2em;
}

.stat {
	position: absolute;
	width: 1cm;
	font-size: 19pt;
	font-weight: bold;
	text-align: center;
}

.move {
	left: 1.2cm;
	top: 2.2cm;
}

.toughness {
	left: 3cm;
	top: 2.2cm;
}

.wounds {
	left: 2.5cm;
	top: 3.0cm;
}

.weapons {
	position: absolute;
	width: 5.2cm;
	height: 2.2cm;
	left: 6.4cm;
	top: 2.3cm;
	color: #000;
}

.weapons .weapon {
	width: 100%;
	height: 1cm;
	margin: 0px 0px 1mm 0px;
	background-image: url("../assets/weapon-bg.png");
	background-position: 0% 0%;
	background-size: 100% 100%;
}

.weapon-name {
	position: absolute;
	left: 1mm;
	width: 2cm;
	height: 1cm;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
}

.weapon-stats {
	position: relative;
	float: right;
	width: 3cm;
	height: 100%;
	right: 1mm;
	top: 0;
}

.weapon-stat {
	position: relative;
	display: inline-block;
	width: 6.5mm;
	text-align: center;
}

.weapon-stat-value {
	width: 100%;
	height: 100%;
	text-align: center;
	font-weight: bold;
	margin-top: -3mm;
}

.weapons img {
	position: relative;
	margin-top: 1mm;
	width: 4mm;
	height: auto;
}

.abilities-bg {
	position: absolute;
	background-image: url("../assets/abilities-bg.png");
	background-size: cover;
	width: 12cm;
	height: 3.7cm;
	bottom: 0mm;
	border-bottom-left-radius: 5mm;
	border-bottom-right-radius: 5mm;
}

.abilities {
	position: absolute;
	color: #000;
	bottom: 1mm;
	left: 0mm;
	width: 12cm;
	height: 3.25cm;
	display: flex;
	flex-direction: column;
}


.ability {
	position: relative;
	display: inline-block;
	width: 12cm;
    text-overflow: ellipsis;
    overflow: hidden;
	flex: 1;
}

.ability-runemarks {
	position: relative;
	display: table;
	float: left;
	border-collapse: collapse;
	width: 1.0cm;
	left: 1mm;
}

.ability-runemark {
  display: table-cell;
  text-align: center;
}

.ability-runemark img {
	display: inline-block;
	width: 100%;
	height: auto;
	max-width: .6cm;
}

.ability-text {
	position: relative;
	display: inline-block;
	overflow: none;
	width: 10.65cm;
	margin: 0 1mm 0 2mm;
	text-align: justify;
}

.ability-title {
	font-weight: bold;
}

